body {
    background-color: #CAE9FF;
    margin: 0 20% 0 20%;
    font-family: "Montserrat";
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Montserrat";
    padding-left: 200px;
    padding-right: 200px;

    background-color: #62b6cb;
}


.montserrat-letra {
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

}


.image{
    border: 5px solid #bee9e8;
    border-radius: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.link-button {
    text-decoration: none;
    color: white;
    border: 1px solid #bee9e8;
    background-color: #1b4965;
    padding: 5px;
    border-radius: 5px;

    box-shadow: 2px 3px #888888;
}



