body {
    background-color: #62b6cb;
}

.image{
    border: 5px solid #bee9e8;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: white;
    border: 1px solid #bee9e8;
    background-color: #1b4965;
    padding: 5px;
    border-radius: 5px;
}