body {
    background-color: rgb(255, 255, 165);
    font-family: "Montserrat";
    padding-left: 200px;
    padding-right: 200px;
}


.montserrat-letra {
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}